<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://172.18.1.241:3306/BaseDeDatos*</property>
        <property name="hibernate.connection.username">usuario</property>
        <property name="hibernate.connection.password">contraseña</property>
        <property name="hibernate. show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- Entidades -->
        <mapping class="Modelo.Cliente"/>
        <mapping class="Modelo.Guia"/>
        <mapping class="Modelo.Aventura"/>
        <mapping class="Modelo.Turno"/>
        <mapping class="Modelo.Reserva"/>
    </session-factory>
</hibernate-configuration>